NET_1_1/trunk/DesktopModules/GoogleSearch/Web References/com.google.api/GoogleSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:GoogleSearch" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:GoogleSearch" name="GoogleSearch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GoogleSearch">
      <s:complexType name="GoogleSearchResult">
        <s:all>
          <s:element name="documentFiltering" type="s:boolean" />
          <s:element name="searchComments" type="s:string" />
          <s:element name="estimatedTotalResultsCount" type="s:int" />
          <s:element name="estimateIsExact" type="s:boolean" />
          <s:element name="resultElements" type="tns:ResultElementArray" />
          <s:element name="searchQuery" type="s:string" />
          <s:element name="startIndex" type="s:int" />
          <s:element name="endIndex" type="s:int" />
          <s:element name="searchTips" type="s:string" />
          <s:element name="directoryCategories" type="tns:DirectoryCategoryArray" />
          <s:element name="searchTime" type="s:double" />
        </s:all>
      </s:complexType>
      <s:complexType name="ResultElement">
        <s:all>
          <s:element name="summary" type="s:string" />
          <s:element name="URL" type="s:string" />
          <s:element name="snippet" type="s:string" />
          <s:element name="title" type="s:string" />
          <s:element name="cachedSize" type="s:string" />
          <s:element name="relatedInformationPresent" type="s:boolean" />
          <s:element name="hostName" type="s:string" />
          <s:element name="directoryCategory" type="tns:DirectoryCategory" />
          <s:element name="directoryTitle" type="s:string" />
        </s:all>
      </s:complexType>
      <s:complexType name="ResultElementArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:ResultElement[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DirectoryCategoryArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:DirectoryCategory[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DirectoryCategory">
        <s:all>
          <s:element name="fullViewableName" type="s:string" />
          <s:element name="specialEncoding" type="s:string" />
        </s:all>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doGetCachedPage">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="doGetCachedPageResponse">
    <wsdl:part name="return" type="s:base64Binary" />
  </wsdl:message>
  <wsdl:message name="doSpellingSuggestion">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="phrase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="doSpellingSuggestionResponse">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="doGoogleSearch">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="q" type="s:string" />
    <wsdl:part name="start" type="s:int" />
    <wsdl:part name="maxResults" type="s:int" />
    <wsdl:part name="filter" type="s:boolean" />
    <wsdl:part name="restrict" type="s:string" />
    <wsdl:part name="safeSearch" type="s:boolean" />
    <wsdl:part name="lr" type="s:string" />
    <wsdl:part name="ie" type="s:string" />
    <wsdl:part name="oe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="doGoogleSearchResponse">
    <wsdl:part name="return" type="tns:GoogleSearchResult" />
  </wsdl:message>
  <wsdl:portType name="GoogleSearchPort">
    <wsdl:operation name="doGetCachedPage">
      <wsdl:input message="tns:doGetCachedPage" />
      <wsdl:output message="tns:doGetCachedPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="doSpellingSuggestion">
      <wsdl:input message="tns:doSpellingSuggestion" />
      <wsdl:output message="tns:doSpellingSuggestionResponse" />
    </wsdl:operation>
    <wsdl:operation name="doGoogleSearch">
      <wsdl:input message="tns:doGoogleSearch" />
      <wsdl:output message="tns:doGoogleSearchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoogleSearchBinding" type="tns:GoogleSearchPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="doGetCachedPage">
      <soap:operation soapAction="urn:GoogleSearchAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:GoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:GoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSpellingSuggestion">
      <soap:operation soapAction="urn:GoogleSearchAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:GoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:GoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGoogleSearch">
      <soap:operation soapAction="urn:GoogleSearchAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:GoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:GoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoogleSearchService">
    <wsdl:port name="GoogleSearchPort" binding="tns:GoogleSearchBinding">
      <soap:address location="http://api.google.com/search/beta2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>